.Table {
	display: table;
	margin-top: 2%;
	margin-left: 2%;
}

.Title {
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}

.Heading {
	display: table-row;
	font-weight: bold;
	text-align: center;
}

.Row {
	display: table-row;
}

.Cell {
	display: table-cell;
	border: solid;
	border-width: thin;
	padding-top:5px;
	padding-left: 5px;
	padding-right: 5px;
}

.CellNoBorder {
	display: table-cell;
	padding: 5px;
}

.Container {
	display: block;
	width: 80%;
	margin-top: 2%;
	margin-left: 2%;
}
body {
  background-color: #f1f1f1;
}
body, h1, h2, h3, input, p {
  margin: 0;
  font-weight: 400;
  font-family: "Varela Round",sans-serif;
  color: #34302d;
}
